.btn {
    padding: 0.8rem 2rem;
    font-size: medium;
    box-shadow: 0 2px 4px 1px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-family: inherit;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.btn:hover {
    transform: scale(1.01);
    filter: brightness(80%);
}

