.btn {
  border: none;
  background-color: inherit;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

.btn:hover {
  text-decoration: underline;
  filter: brightness(80%);
}
